@import "tailwindcss";

:root {
  --primary:#000000;
  --secondary:#cc1407 ;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
