@import "tailwindcss";

:root {
  --primary:#000000;
  --secondary:#cc1407 ;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--secondary);
  --font-robo: var(--font-robo-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.div{
  @apply font-robo mt-10 text-white
}
.div_main{
  @apply flex justify-around gap-4 mt-3 w-9/10 mx-auto flex-wrap pb-15
}
.div_game_detail{
  @apply flex justify-baseline font-robo text-white gap-10 pb-15
}
.div_game_detail_right{
  @apply flex flex-col gap-2 justify-around w-1/3 bg-foreground/30 max-h-fit mt-20 p-3 mr-5
}
.div_create{
  @apply font-robo text-white md:max-w-7/10 max-w-full mx-auto bg-foreground/10 mb-15
}
.div_address{
  @apply font-robo text-white md:max-w-7/10 max-w-full mx-auto flex justify-baseline gap-4 mb-15 mt-5
}
.div_address_left{
  @apply w-2/3 ml-4 bg-foreground/10 p-3 h-fit
}
.div_address_right{
  @apply w-1/3 bg-foreground/10 p-3 flex flex-col gap-2 overflow-auto max-h-120
}
.div_footer{
  @apply flex justify-between bg-foreground fixed bottom-0 left-0 w-full text-white font-robo items-center
}
.div_game_card{
  @apply flex flex-col justify-baseline gap-2 bg-foreground/90 text-white text-xs absolute bottom-0 left-0 min-w-full max-w-full
}
.div_login_form{
  @apply font-robo text-white w-1/3 mx-auto bg-foreground/20 p-3 rounded-xl
}
.div_signup_form{
  @apply font-robo text-white w-1/3 mx-auto bg-foreground/20 p-3 rounded-xl mb-15
}
.div_sub_navbar{
  @apply flex justify-around bg-foreground/50 text-white font-robo relative font-medium
}
.div_about{
  @apply flex justify-between max-w-full md:max-w-6/8 mx-auto pb-15
}
.div_about_left{
  @apply w-2/5 bg-linear-to-b from-foreground to-foreground/40 border-4 border-white rounded-2xl p-2
}
.div_about_right{
  @apply w-2/5 max-h-fit flex flex-col gap-3 bg-linear-to-b from-foreground to-foreground/40 border-4 border-white rounded-2xl p-2
}
.div_profile{
  @apply flex justify-baseline gap-4 mb-15 font-robo text-white md:w-6/8 w-full mx-auto mt-10
}
.div_profile_left{
  @apply w-1/3 bg-foreground/80 p-5 rounded-2xl h-fit overflow-clip md:text-xl flex flex-col gap-3 justify-baseline
}


.form_address{
  @apply flex flex-wrap justify-baseline w-full
}


.h1_create{
  @apply text-3xl font-bold mt-5 mb-5 p-3 text-center bg-foreground/70
}
.h1_address{
  @apply text-sm md:text-2xl lg:text-4xl text-center font-bold w-full mt-2 mb-2
}


.label {
  @apply font-bold text-xl w-1/2 block text-white/80
}
.label_login {
  @apply font-bold text-xs md:text-xl w-full block text-white/80
}
.label_description{
  @apply font-bold text-2xl block w-full mt-2 text-white/80
}


.input {
  @apply w-8/10 block placeholder:text-center text-white border-2 border-foreground rounded-xl p-2 text-xs md:text-xl mb-2
}
.input_login {
  @apply w-full block placeholder:text-center text-white border-2 border-foreground rounded-xl p-2 text-xs md:text-xl
}
.input_description{
  @apply font-normal whitespace-pre-wrap break-words block w-9/10 placeholder:font-bold border-2 rounded-xl border-foreground text-base placeholder:text-2xl
}


.button_submit{
  @apply cursor-pointer w-2/10 h-full bg-green-800 rounded p-2 hover:bg-green-500
}
.button_address{
  @apply cursor-pointer w-1/3 h-fit  p-2 bg-green-800 rounded hover:bg-green-500
}
.button_delete{
  @apply bg-foreground/50 rounded p-2 hover:bg-foreground mb-2
}
.button_add{
  @apply bg-green-800 hover:bg-green-500 rounded cursor-pointer text-center
}
.button_remove{
  @apply bg-foreground/50 hover:bg-foreground rounded cursor-pointer text-center
}
.button_cart{
  @apply p-1 bg-green-800 hover:bg-green-500 rounded cursor-pointer
}
.button_disabled{
  @apply w-1/3 bg-gray-600 p-3 self-center rounded line-through
}
.button_checkout{
  @apply w-1/3 bg-green-800 hover:bg-green-500 p-3 self-center rounded cursor-pointer
}
.button_login_gray{
  @apply cursor-pointer w-1/3 h-full bg-gray-600  rounded p-2 hover:bg-white text-center text-black
}
.button_login_green{
  @apply cursor-pointer w-1/3 h-full bg-green-800 rounded p-2 hover:bg-green-500 text-center
}


.p_address_helper{
  @apply overflow-hidden text-nowrap text-ellipsis text-white font-bold hover:text-black
}


.link_nav{
  @apply hover:bg-red-800 border-2 border-white rounded-2xl p-4 text-white font-bold
}


::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(0.6)
            
}
.tags,.orders::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.tags,.orders::-webkit-scrollbar {
  width: 5px;
}
.tags,.orders::-webkit-scrollbar-thumb {
  background:gray;
}
.review::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 100px;
}
.review::-webkit-scrollbar-track {
}
.review::-webkit-scrollbar-thumb {
  background:rgb(144, 93, 0);
  border-radius: 100px;
}