@import "tailwindcss";

:root {
  --primary:#000000;
  --secondary:#cc1407 ;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--secondary);
  --font-robo: var(--font-robo-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
