@import "tailwindcss";

:root {
  --primary:#000000;
  --secondary:#cc1407 ;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--secondary);
  --font-robo: var(--font-robo-sans);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.label {
  @apply font-bold text-xl w-1/2 block text-white/80
}

.input {
  @apply w-9/10 block placeholder:text-center text-white
}
::-webkit-calendar-picker-indicator {
    filter: invert(1)
            brightness(0.6)
            
}